---
import landing from "/public/images/tototo.png";

import { Image } from "@astrojs/image/components";
---

<main role="main" class="w-full lg:col-span-3">
  <section>
    <div class="p-8 lg:py-12 lg:px-10">
      <div>
        <h1
          class="text-black dark:text-white text-2xl md:text-4xl xl:text-7xl 2xl:text-6xl font-bold tracking-tighter"
        >
          I'm a
        </h1>
      </div>
      <div
        class="mt-8 lg:mt-24 text-base dark:text-zinc-500 text-zinc-500 lg:col-span-3 space-y-12"
      >
        <div>
          <h1
            class="text-black dark:text-white text-2xl md:text-4xl xl:text-7xl font-bold tracking-tighter"
          >
            Blockchain
            <span class="lg:block">Developer</span>
          </h1>
        </div>
        <div
          class="mt-8 lg:mt-24 text-base dark:text-zinc-500 text-zinc-500 lg:col-span-3 space-y-12"
        >
          <div>
            <h1
              class="text-black dark:text-white text-2xl md:text-4xl xl:text-7xl font-bold tracking-tighter"
            >
              Data
              <span class="lg:block">Scientist</span>
            </h1>
          </div>
          <div
            class="mt-8 lg:mt-24 text-base dark:text-zinc-500 text-zinc-500 lg:col-span-3 space-y-12"
          >
            <div>
              <h1
                class="text-black dark:text-white text-2xl md:text-4xl xl:text-7xl font-bold tracking-tighter"
              >
                Flutter
                <span class="lg:block">Developer</span>
              </h1>
            </div>
          </div>
          <!-- <div class="grid grid-cols-1 gap-3 p-4">
      <div class="bg-zinc-100 overflow-hidden">
        <Image
          class="aspect-[600/150] object-cover h-full"
          src={landing}
          alt="#"
        />
      </div>
      <div class="aspect-[600/150] bg-zinc-100 overflow-hidden">
        <Image class="object-cover h-full" src={landing} alt="#" />
      </div>
      <div class="aspect-[600/150] bg-zinc-100 overflow-hidden">
        <Image class="object-cover h-full" src={landing} alt="#" />
      </div>
    </div> -->
          <!-- </div> -->

          <!--  filter grayscale  rounded-xl aspect-[600/150]-->
        </div>
      </div>
    </div>
  </section>
</main>
