<main role="main" class="w-full lg:col-span-3">
  <section>
    <div class="p-8 lg:py-12 lg:px-10">
      <div>
        <h1
          class="text-black dark:text-white text-2xl md:text-4xl xl:text-8xl font-bold tracking-tighter"
        >
          About
          <span class="lg:block">me</span>
        </h1>
      </div>
      <div
        class="mt-8 lg:mt-24 text-base dark:text-zinc-500 text-zinc-500 lg:col-span-3 space-y-12"
      >
        <article class="md:grid md:grid-cols-4">
          <div class="md:col-span-3">
            <div class="text-sm text-zinc-600 dark:text-zinc-400 space-y-6">
              <p>Hi, I'm AJITH M</p>

              <p>I’m a fourth-year CSE-Data Science student at VIT Vellore.</p>

              <p>
                I have hands-on experience with a wide range of technologies,
                including:
                <br />
                • Programming: Solidity, Dart, Python, Java, HTML, CSS, JavaScript.
                <br />
                • Libraries and frameworks: Ethereum, Truffle, Ganache, Web3, Flutter,
                Pandas, NumPy, Scikit-learn, Flask.
                <br />
                • Database Systems: Firebase.
                <br />
                • Tools and IDEs: Metamask, Git, GitHub, BitBucket, Heroku, Jupyter
                Notebook, Visual Studio Code, Android Studio.
              </p>

              <p>
                Which I use for:
                <br />
                • Blockchain Development,
                <br />
                • Data Science,
                <br />
                • Flutter Development and more!!
              </p>
              <p>
                Authored numerous blogs on Blockchain development, providing
                readers with comprehensive knowledge on topics such as Smart
                Contract, DApps, Ethereum, Development Tools and many more.
                Aided in enhancing readers' blockchain skills.
              </p>
              <p>
                The process is always sweeter than the result. So, enjoy the
                process!
              </p>
            </div>
          </div>
        </article>
      </div>
    </div>
  </section>
</main>
