<main role="main" class="w-full lg:col-span-3">
  <section>
    <div class="p-8 lg:py-12 lg:px-10">
      <div>
        <h1
          class="text-black dark:text-white text-2xl md:text-4xl xl:text-8xl font-bold tracking-tighter"
        >
          My
          <span class="lg:block">Experience</span>
        </h1>
      </div>
      <div
        class="mt-8 lg:mt-24 text-base dark:text-zinc-500 text-zinc-500 lg:col-span-3 space-y-12"
      >
        <!-- 1 -->
        <article class="md:grid md:grid-cols-4 md:items-baseline">
          <div class="md:col-span-3 group relative flex flex-col items-start">
            <h2
              class="text-base font-semibold tracking-tight text-black dark:text-white"
            >
              <a
                href="https://drive.google.com/file/d/1JmyujOc7DLwO_hZ8SHy2pBl7vf9FzHte/view?usp=sharing"
                ><span
                  class="absolute -inset-y-6 -inset-x-4 z-20 sm:-inset-x-6 sm:rounded-2xl"
                ></span><span class="relative z-10"
                  >Dwarf.AI, India (Remote) - Blockchain Intern</span
                >
              </a>
            </h2>
            <time
              class="md:hidden relative z-10 order-first mb-3 flex items-center text-sm dark:text-zinc-400 text-zinc-500 pl-3.5"
              datetime="2022-09-02"
              ><span
                class="absolute inset-y-0 left-0 flex items-center"
                aria-hidden="true"
                ><span
                  class="h-4 w-0.5 rounded-full bg-zinc-200 dark:bg-zinc-500"
                ></span>
              </span></time
            ><p
              class="relative z-10 mt-2 text-sm text-zinc-500 dark:text-zinc-400"
            >
              • Analyzed the working of decentralized storage applications,
              including their mining, reward system, and their cryptonomics.
              <br />
              • Developed and interconnected nodes using InterPlanetary File System
              – IPFS.
            </p><div
              aria-hidden="true"
              class="relative z-10 mt-4 flex items-center text-sm font-medium text-black transition group-hover:text-sky-500 dark:text-white"
            >
              Offer Letter<svg
                viewBox="0 0 16 16"
                fill="none"
                aria-hidden="true"
                class="ml-1 h-4 w-4 stroke-current order-last group-hover:translate-x-6 transition"
                ><path
                  d="M6.75 5.75 9.25 8l-2.5 2.25"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
              </svg>
            </div>
          </div><time
            class="mt-1 md:block relative z-10 order-first mb-3 flex items-center text-sm dark:text-zinc-400 text-zinc-500"
            datetime="2022-09-02">November 14, 2022</time
          >
        </article>
        <!-- 2 -->
        <article class="md:grid md:grid-cols-4 md:items-baseline">
          <div class="md:col-span-3 group relative flex flex-col items-start">
            <h2
              class="text-base font-semibold tracking-tight text-black dark:text-white"
            >
              <a href="https://www.vishwainteriors.com/"
                ><span
                  class="absolute -inset-y-6 -inset-x-4 z-20 sm:-inset-x-6 sm:rounded-2xl"
                ></span><span class="relative z-10">Started Freelancing</span>
              </a>
            </h2>
            <time
              class="md:hidden relative z-10 order-first mb-3 flex items-center text-sm dark:text-zinc-400 text-zinc-500 pl-3.5"
              datetime="2022-09-02"
              ><span
                class="absolute inset-y-0 left-0 flex items-center"
                aria-hidden="true"
                ><span
                  class="h-4 w-0.5 rounded-full bg-zinc-200 dark:bg-zinc-500"
                ></span>
              </span></time
            ><p
              class="relative z-10 mt-2 text-sm text-zinc-500 dark:text-zinc-400"
            >
              • Initiated freelance work, utilizing my design and coding skills
              to create engaging applications for clients.
              <br />
              • Developed and implemented strategies for successful project completion.
            </p><div
              aria-hidden="true"
              class="relative z-10 mt-4 flex items-center text-sm font-medium text-black transition group-hover:text-sky-500 dark:text-white"
            >
              Client's Site<svg
                viewBox="0 0 16 16"
                fill="none"
                aria-hidden="true"
                class="ml-1 h-4 w-4 stroke-current order-last group-hover:translate-x-6 transition"
                ><path
                  d="M6.75 5.75 9.25 8l-2.5 2.25"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
              </svg>
            </div>
          </div><time
            class="mt-1 md:block relative z-10 order-first mb-3 flex items-center text-sm dark:text-zinc-400 text-zinc-500"
            datetime="2022-09-02">August 8, 2022</time
          >
        </article>
        <!-- 3 -->
        <article class="md:grid md:grid-cols-4 md:items-baseline">
          <div class="md:col-span-3 group relative flex flex-col items-start">
            <h2
              class="text-base font-semibold tracking-tight text-black dark:text-white"
            >
              <a href="#"
                ><span
                  class="absolute -inset-y-6 -inset-x-4 z-20 sm:-inset-x-6 sm:rounded-2xl"
                ></span><span class="relative z-10"
                  >Strydo Technologies, India (Offline) - Mentor for Python
                  programming</span
                >
              </a>
            </h2>
            <time
              class="md:hidden relative z-10 order-first mb-3 flex items-center text-sm dark:text-zinc-400 text-zinc-500 pl-3.5"
              datetime="2022-09-02"
              ><span
                class="absolute inset-y-0 left-0 flex items-center"
                aria-hidden="true"
                ><span
                  class="h-4 w-0.5 rounded-full bg-zinc-200 dark:bg-zinc-500"
                ></span>
              </span></time
            ><p
              class="relative z-10 mt-2 text-sm text-zinc-500 dark:text-zinc-400"
            >
              • Instructed college students in Python programming, leveraging
              extensive knowledge of programming fundamentals to promote
              effective learning.
              <br />
              • Developed comprehensive lesson plans to ensure student comprehension
              and foster successful learning outcomes.
              <br />
              • Guided students through complex coding challenges, providing individualized
              assistance when needed.
            </p><div
              aria-hidden="true"
              class="relative z-10 mt-4 flex items-center text-sm font-medium text-black transition group-hover:text-sky-500 dark:text-white"
            >
              Offer Letter<svg
                viewBox="0 0 16 16"
                fill="none"
                aria-hidden="true"
                class="ml-1 h-4 w-4 stroke-current order-last group-hover:translate-x-6 transition"
                ><path
                  d="M6.75 5.75 9.25 8l-2.5 2.25"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
              </svg>
            </div>
          </div><time
            class="mt-1 md:block relative z-10 order-first mb-3 flex items-center text-sm dark:text-zinc-400 text-zinc-500"
            datetime="2022-09-02">July 7, 2022</time
          >
          <!-- 4 -->
        </article>
        <article class="md:grid md:grid-cols-4 md:items-baseline">
          <div class="md:col-span-3 group relative flex flex-col items-start">
            <h2
              class="text-base font-semibold tracking-tight text-black dark:text-white"
            >
              <a href="https://www.ontheether.com/"
                ><span
                  class="absolute -inset-y-6 -inset-x-4 z-20 sm:-inset-x-6 sm:rounded-2xl"
                ></span><span class="relative z-10">Launched On The Ether</span>
              </a>
            </h2>
            <time
              class="md:hidden relative z-10 order-first mb-3 flex items-center text-sm dark:text-zinc-400 text-zinc-500 pl-3.5"
              datetime="2022-09-02"
              ><span
                class="absolute inset-y-0 left-0 flex items-center"
                aria-hidden="true"
                ><span
                  class="h-4 w-0.5 rounded-full bg-zinc-200 dark:bg-zinc-500"
                ></span>
              </span></time
            ><p
              class="relative z-10 mt-2 text-sm text-zinc-500 dark:text-zinc-400"
            >
              Authored numerous blogs on Blockchain development, providing
              readers with comprehensive knowledge on topics such as Smart
              Contract, DApps, Ethereum, Development Tools and many more. Aided
              in enhancing readers' blockchain skills.
            </p><div
              aria-hidden="true"
              class="relative z-10 mt-4 flex items-center text-sm font-medium text-black transition group-hover:text-sky-500 dark:text-white"
            >
              ontheether.com<svg
                viewBox="0 0 16 16"
                fill="none"
                aria-hidden="true"
                class="ml-1 h-4 w-4 stroke-current order-last group-hover:translate-x-6 transition"
                ><path
                  d="M6.75 5.75 9.25 8l-2.5 2.25"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
              </svg>
            </div>
          </div><time
            class="mt-1 md:block relative z-10 order-first mb-3 flex items-center text-sm dark:text-zinc-400 text-zinc-500"
            datetime="2022-09-02">March 28, 2022</time
          >
        </article>
        <!-- 5 -->
        <article class="md:grid md:grid-cols-4 md:items-baseline">
          <div class="md:col-span-3 group relative flex flex-col items-start">
            <h2
              class="text-base font-semibold tracking-tight text-black dark:text-white"
            >
              <a
                href="https://drive.google.com/file/d/1JJ1s7cXdvCImOYH986sZWxvl1z3YMTco/view?usp=sharing"
                ><span
                  class="absolute -inset-y-6 -inset-x-4 z-20 sm:-inset-x-6 sm:rounded-2xl"
                ></span><span class="relative z-10"
                  >PetMojo, India (Remote) - Team Lead – Front End Developer</span
                >
              </a>
            </h2>
            <time
              class="md:hidden relative z-10 order-first mb-3 flex items-center text-sm dark:text-zinc-400 text-zinc-500 pl-3.5"
              datetime="2022-09-02"
              ><span
                class="absolute inset-y-0 left-0 flex items-center"
                aria-hidden="true"
                ><span
                  class="h-4 w-0.5 rounded-full bg-zinc-200 dark:bg-zinc-500"
                ></span>
              </span></time
            ><p
              class="relative z-10 mt-2 text-sm text-zinc-500 dark:text-zinc-400"
            >
              • Led and shaped a team of Frontend Developers. Coordinated daily
              meetings and scheduled tasks. Improved productivity by 20%.
              <br />
              • I was instrumental in delivering the product to the market on time.
              <br />
              • Built pixel-perfect user interfaces using flutter and dart for both
              iOS and Android.
            </p><div
              aria-hidden="true"
              class="relative z-10 mt-4 flex items-center text-sm font-medium text-black transition group-hover:text-sky-500 dark:text-white"
            >
              Offer Letter<svg
                viewBox="0 0 16 16"
                fill="none"
                aria-hidden="true"
                class="ml-1 h-4 w-4 stroke-current order-last group-hover:translate-x-6 transition"
                ><path
                  d="M6.75 5.75 9.25 8l-2.5 2.25"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
              </svg>
            </div>
          </div><time
            class="mt-1 md:block relative z-10 order-first mb-3 flex items-center text-sm dark:text-zinc-400 text-zinc-500"
            datetime="2022-09-02">January 1, 2022</time
          >
        </article>
        <!-- 6 -->
        <article class="md:grid md:grid-cols-4 md:items-baseline">
          <div class="md:col-span-3 group relative flex flex-col items-start">
            <h2
              class="text-base font-semibold tracking-tight text-black dark:text-white"
            >
              <a
                href="https://drive.google.com/file/d/1SpCMeHsK_02MOewRDLu6UFZWLVjYsDft/view?usp=sharing"
                ><span
                  class="absolute -inset-y-6 -inset-x-4 z-20 sm:-inset-x-6 sm:rounded-2xl"
                ></span><span class="relative z-10"
                  >PetMojo, India (Remote) - Flutter Engineer – Intern
                </span>
              </a>
            </h2><time
              class="md:hidden relative z-10 order-first mb-3 flex items-center text-sm dark:text-zinc-400 text-zinc-500 pl-3.5"
              datetime="2022-07-14"
              ><span
                class="absolute inset-y-0 left-0 flex items-center"
                aria-hidden="true"
                ><span
                  class="h-4 w-0.5 rounded-full bg-zinc-200 dark:bg-zinc-500"
                ></span>
              </span></time
            ><p
              class="relative z-10 mt-2 text-sm text-zinc-500 dark:text-zinc-400"
            >
              • Built pixel-perfect user interfaces using flutter and dart for
              both iOS and Android.
              <br />
              • Achieved "Best Employee of the Month" recognition.
              <br />
              • I was instrumental in delivering the product to the market on time.
            </p><div
              aria-hidden="true"
              class="relative z-10 mt-4 flex items-center text-sm font-medium text-black transition group-hover:text-sky-500 dark:text-white"
            >
              Offer Letter<svg
                viewBox="0 0 16 16"
                fill="none"
                aria-hidden="true"
                class="ml-1 h-4 w-4 stroke-current order-last group-hover:translate-x-6 transition"
                ><path
                  d="M6.75 5.75 9.25 8l-2.5 2.25"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
              </svg>
            </div>
          </div><time
            class="mt-1 md:block relative z-10 order-first mb-3 flex items-center text-sm dark:text-zinc-400 text-zinc-500"
            datetime="2022-07-14">October 30, 2021</time
          >
        </article>
        <!-- 7 -->
        <article class="md:grid md:grid-cols-4 md:items-baseline">
          <div class="md:col-span-3 group relative flex flex-col items-start">
            <h2
              class="text-base font-semibold tracking-tight text-black dark:text-white"
            >
              <a
                href="https://play.google.com/store/apps/dev?id=8158724287871388402"
                ><span
                  class="absolute -inset-y-6 -inset-x-4 z-20 sm:-inset-x-6 sm:rounded-2xl"
                ></span><span class="relative z-10">Launched DooDle Bug</span>
              </a>
            </h2><time
              class="md:hidden relative z-10 order-first mb-3 flex items-center text-sm dark:text-zinc-400 text-zinc-500 pl-3.5"
              datetime="2022-07-14"
              ><span
                class="absolute inset-y-0 left-0 flex items-center"
                aria-hidden="true"
                ><span
                  class="h-4 w-0.5 rounded-full bg-zinc-200 dark:bg-zinc-500"
                ></span>
              </span>
            </time><p
              class="relative z-10 mt-2 text-sm text-zinc-500 dark:text-zinc-400"
            >
              • Designed and developed two production-quality applications and
              released them to the Play Store.
              <br />
              • Group SMS Application and TAP Game.
            </p><div
              aria-hidden="true"
              class="relative z-10 mt-4 flex items-center text-sm font-medium text-black transition group-hover:text-sky-500 dark:text-white"
            >
              Play Store<svg
                viewBox="0 0 16 16"
                fill="none"
                aria-hidden="true"
                class="ml-1 h-4 w-4 stroke-current order-last group-hover:translate-x-6 transition"
                ><path
                  d="M6.75 5.75 9.25 8l-2.5 2.25"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
              </svg>
            </div>
          </div>
          <time
            class="mt-1 md:block relative z-10 order-first mb-3 flex items-center text-sm dark:text-zinc-400 text-zinc-500"
            datetime="2022-07-14">February 5, 2021</time
          >
        </article>
      </div>
    </div>
  </section>
</main>
